:root{
  --vermelho:#E50914;
  --preto:#141414;
}

* { /*Reset simples*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /*BASE*/

body{
  background: var(--preto); /*Esse var é pq tou usando a variavel --preta*/
  font-family: 'Arial', Times, serif;
  color:white
}

header .container{
  display: flex; /*Isso permite alinhar melhor os elementos internos*/
  flex-direction: row; /*tendencia de jogar os elementos como linhas*/;
  align-items: center; /*alinha verticalmente*/
  justify-content:space-between ; /*alinha horizontalmente*/
}

header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
}

header nav a{
  text-decoration: none;
  color: #AAA;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

/*FILME PRINCIPAL*/


.filme-principal {
  
  font-size: 16px;
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0.5)) ,url('/img/capa-house.jpg');
  background-size:cover;
  height: 600px;
  display: flex; /*Apenas quem vai herdar isso são as filhas, não as netas*/
  flex-direction: column;
  justify-content: center; /*Ele sempre segue a direção do flex-direction*/
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-top: 10px;
  margin-bottom: 90px;
}

.filme-principal .titulo {
  margin-top: 15%;
  font-size: 40px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
  background-color: rgba(0,0,0,.5);
  border: none;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: .3s ease all;
}

.botao:hover {
  background-color: white;
  color: black;
}

.botao i {
  margin-right: 8px;
}

.container {
  margin-left: 20px;
}
.filme-principal .container {
  width: 70%;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
}

.carrosel-filmes {
  margin-top: 5px;
}

.titulo-box {
  margin: 20px 0 10px 0;
  font-size: x-large;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.box-principal {
  margin: 0px 30px 0 40px  ;
}

.copy {
  color: #FFFFFF;
  font-size: 13px;
  margin:20px 0 0 ;
}

.carrosel-filmes .box-filme:hover { /*isso é uma pseudo classe*/
  filter: brightness(.4);
  padding: 10px;
}

